input, select {
    min-height: 48px;
}

input[type=file] {
    padding: .5rem 1rem .5rem 4rem;
    display: flex;
}

input[type=file]::-webkit-file-upload-button {
    display: none;
}


.file-wrapper {
    position: relative;
}

.file-wrapper .form-label {
    position: absolute;
    top: .5rem;
    left: 1rem;
    color: #333E68;
}