<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->

    <!-- Website Title -->
    <title>Perfil Usuário</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="../../css/plugins/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../../css/plugins/fontawensome/fontawesome-all.css" rel="stylesheet">
    <link href="../../css/plugins/swipper/swiper.css" rel="stylesheet">
    <link href="../../css/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="../../css/styles.css" rel="stylesheet">
    <link href="../../css/perfil/index.css" rel="stylesheet">
    <link href="../../css/cadastro/index.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/plugins/datatable/datatables.min.css">
    <link rel="stylesheet" href="../../css/vagas/form.css">
    <link rel="stylesheet" href="../../css/vagas/index.css">
    <link rel="stylesheet" href="../../css/plugins/toastr/toastr.min.css">

    <!-- Favicon  -->
    <link rel="icon" href="../../images/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="../../index.html"><img src="../../images/primary.svg"
                    alt="alternative"></a>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="../../index.html">HOME <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="../vagas/index.html">VAGAS</a>
                    </li>
                    <!-- Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle page-scroll" href="#video" id="navbarDropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">PERFIL</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" target="_blank" href="https://ifrs.edu.br/lgpd/">
                                <span class="item-text">PRIVACY POLICY</span>
                            </a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item logout" href="../login/index.html"><span
                                    class="item-text">SAIR</span></a>
                        </div>
                    </li>
                    <!-- end of dropdown menu -->

                </ul>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->

    <div class="container emp-profile" id="data_table_perfil">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img id="blah"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                            alt="your image" />
                        <div class="file btn btn-lg btn-primary">
                            Alterar foto
                            <input accept="image/*" type='file' id="imgInp" />
                        </div>



                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5 id="nomePerfil"></h5>
                        <p class="proile-rating">Criação: <span id="dataCriacao"></span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Sobre</a>
                            </li>
                            <li class="nav-item" id="vagasRelacionadas">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Vagas Relacionadas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="curriculo-tab" data-bs-toggle="tab" href="#curriculo" role="tab"
                                    aria-controls="curriculo" aria-selected="false">Currículos</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Editar Perfil"/> -->
                    <button type="button" class="profile-edit-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModalPerfil">
                        Editar Perfil
                    </button>
                    </br></br>
                    <button type="button" id="btn-curriculo" class="profile-edit-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Enviar Curriculo
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-4">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Matrícula</label>
                                </div>
                                <div class="col-md-6">
                                    <p id="matricula"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p id="emailPerfil"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Perfil</label>
                                </div>
                                <div class="col-md-6">
                                    <p id="perfil"></p>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
                <div class="tab-pane fade col-md-12 offset-md-12" id="profile" role="tabpanel"
                    aria-labelledby="profile-tab">
                    <div class="col-lg-12  table-responsive">
                        <table id="data_table_vagas" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Título</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Institucional</th>
                                    <th scope="col">Publicada</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Salário</th>
                                </tr>
                            </thead>

                            <tbody></tbody>

                            <tfoot>
                                <tr>
                                    <th scope="col">Título</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Institucional</th>
                                    <th scope="col">Publicada</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Salário</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div> <!-- end of col-->
                </div>
                <div class="tab-pane fade col-md-12 offset-md-12" id="curriculo" role="tabpanel"
                    aria-labelledby="curriculo-tab">
                    <h3>Em desenvolvimento</h3>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Curriculo-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastre seu currículo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="signUpForm" data-toggle="validator" data-focus="false">

                        <div class="form-group">
                            <input type="text" class="form-control-input" id="titulo" required>
                            <label class="label-control" id="titulo" for="titulo">Titulo</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-input" id="descricao" required></textarea>
                            <label class="label-control" id="descricao" for="descricao">Descrição</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-select multiple" aria-label="Default select example">
                                <option selected>Selecione</option>
                                <option value="1">Administração</option>
                                <option value="2">TI</option>
                                <option value="3">Filosofia</option>
                            </select>
                        </div>
                        <div class="form-group file-wrapper">
                            <label for="formFile" class="form-label"><i class="fas fa-upload"></i></label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="form-group">
                            <button type="button" id="curriculo" class="form-control-submit-button">Cadastrar</button>
                        </div>
                        <div class="form-message">
                            <div id="smsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL PERFIL-->
    <div class="modal fade" id="exampleModalPerfil" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deseja mudar seu perfil?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="nomePerfilAtualizar" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="emailPerfilAtualizar" placeholder="Email ">
                        </div>
                        <div class="form-group">

                            <button type="button" id="btnAtualizar"
                                class="form-control-submit-button">Atualizar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <!-- Footer -->
    <svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        viewBox="0 0 1920 79">
        <defs>
            <style>
                .cls-2 {
                    fill: #5f4def;
                }
            </style>
        </defs>
        <title>footer-frame</title>
        <path class="cls-2"
            d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z"
            transform="translate(0 -0.188)" />
    </svg>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col first">
                        <h4>Sobre Vagas IFRS</h4>
                        <p class="p-small">Sistema que propõe que os professores coloquem as vagas dentro de um ambiente
                            para que os alunos possam ver de acordo com sua área de preferência.</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Links Importantes</h4>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Leia nossa <a class="white" href="https://ifrs.edu.br/lgpd/"
                                        target="_blank">Política de Privacidade</a></div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Contato</h4>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li class="media">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="media-body">Reitoria; Bento Gonçalves, Rio Grande do Sul, Brasil</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-envelope"></i>
                                <div class="media-body"><a class="white"
                                        href="mailto:vagasifrs@gmail.com">vagasifrs@gmail.com</a> </div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2022 Desenvolvido por <a target="_blank"
                            href="https://www.linkedin.com/in/gilbertofredes/"><u>Gilberto Fredes</u>, </a><a
                            target="_blank" href="https://www.linkedin.com/in/daniel--melo/"><u>Daniel Melo</u> e </a><a
                            target="_blank" href="https://www.linkedin.com/in/rodrigo-leite-de-oliveira/"><u>Rodrigo
                                Oliveira</u>.</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->

    <!-- Scripts -->
    <script src="../../js/plugins/jquery/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../../js/plugins/popper/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="../../js/plugins/bootstrap/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="../../js/plugins/jquery/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../../js/plugins/swiper/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="../../js/plugins/jquery/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="../../js/plugins/validator/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../../js/plugins/datatable/datatables.min.js"></script> <!-- Datatables.js - Datatables -->
    <script src="../../js/scripts.js"></script> <!-- Custom scripts -->
    <script src="../../js/perfil/index.js"></script> <!-- Custom scripts -->
    <script src="../../js/plugins/jquery_cookie_master/src/jquery.cookie.js"></script>
    <script src="../../js/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="../../js/plugins/toastr/toastr.min.js"></script>
    <script src="../../js/plugins/bootbox/bootbox.min.js"></script>
    <script src="../../js/utils/helpers.js"></script>
</body>

</html>